#landing{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;

}

#landing img{
    margin-top: 38vh;
    margin-bottom: 4vh;
}

#landing h1{
    margin-bottom: 2vh;
    font-size: 5vh;
}
#about {
    margin-top: 12vh;
    margin-bottom: 10vh;
}

#services h1{
    margin-top: 15vh;
    margin-bottom: 5vh;
}
#services{
    background-image: url(/images/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: white;
    
}

#contactus{
    background-image: url(/images/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    
}
#contactus h1{
    padding-top: 3vh;
}

#whatwedo{
  padding-top: 10vh; 
  padding-bottom: 10vh; 
}

#icon{
    background-color: black;
    color: black;
}

#message {
    height: 20vh;
    
}
#form input::placeholder{
    color:white;
}
 #name,#email{
    width: 42vh;
}

#form input{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    margin: 1vh;
}

.portf{
    margin-bottom: 5vh;
}

#portfh{
    margin-bottom: 3    Q1vh;
}
#footer{
    text-align: center;
    padding: 5vh;
}

#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display:none;
  background-color: white;
  opacity:0.8;
  z-index: 1;
  font-size: 30px;
  height: 100%;
  width: 100%;
  padding-top: 40%;
  padding-right: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#hide,#devh{
    display:none;
  }
 