#landing{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: white;
}

#services{
    background-image: url(/images/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: white;
}

#contactus{
    background-image: url(/images/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    color: white;
}

#icon{
    background-color: black;
    color: black;
}
